/** VARIABLES **/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

$font: 'Playfair Display', serif;
$dark-green: #013220;
$white: #ffffff;
$gold: #d4af37;
$black: white