/** VARIABLES **/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

$font: 'Playfair Display', serif;
$dark-green: #013220;
$white: #ffffff;
$gold: #d4af37;
$black: white;
$font-serif: "Merriweather", serif;
$font-sans-serif: "Lato", sans-serif;
$primary-color: #181a20;
$secondary-color: #717171;
$light-background: #f6f6f6;
$accent-gold: rgba(250, 240, 230, 0.8);
$border-color: #ddd;
