#pc-wrap {
  .cs-page {
    position: relative;
    padding: 60px 0;
    width: 100%;
    height: auto;

    .container {
      display: flex;
      flex-direction: column;

      .cs-main-info {
        display: flex;
        flex-direction: column;

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          span {
            color: #2c1e15;
            font-family: $font;
            font-size: 36px;
            font-weight: 700;
            letter-spacing: 0.525px;
          }

          p {
            color: #a09387;
            font-family: $font;
            font-size: 16px;
            font-weight: 400;
          }
        }

        .btns {
          margin-top: 50px;
          display: flex;
          justify-content: center;

          :first-child {
            border-radius: 6px 0 0 6px;
          }

          :last-child {
            border-radius: 0 6px 6px 0;
          }

          div {
            width: 204px;
            height: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e6e2dc;
            background: #fcfaf7;
            cursor: pointer;
            color: #b2a18b;
            font-family: $font;
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 0.42px;
            transition: all 0.3s ease;

            &:hover {
              background-color: #d4b48c1a;
              color: #8c7153;
            }

            &.active {
              border-color: #c8aa74;
              background: #b45f4d;
              color: #fff;
            }
          }
        }
      }

      .cs-content {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        

        .title {
          margin-bottom: 25px;
          color: #2c1e15;
          font-family: $font;
          font-size: 28px;
          font-weight: 700;
          letter-spacing: 0.54px;
        }

        .pagination {
          margin-top: 50px;
          display: flex;
          justify-content: center;
        }

        .notice-content {
          .main {
            border: 1px solid #e6e2dc;
            border-radius: 8px;
            background: #fdfaf6;

            .top {
              padding: 25px 33px;
              display: flex;
              justify-content: space-between;

              span {
                color: #3e2d20;
                font-family: $font;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
              }
            }

            .bottom {
              display: flex;
              flex-direction: column;

              .notice-card {
                padding: 20px 14px 20px 30px;
                display: flex;
                justify-content: space-between;
                border: 1px solid #e6e2dc;
                background: #fdfaf6;

                &.event {
                  background: #f4e7d2;
                }

                div {
                  padding: 6px 9px;
                  border-radius: 12px;
                  border: 1px solid #b45f4d;
                  color: #b45f4d;
                  font-family: $font;
                  font-size: 12px;
                  font-weight: 500;
                }

                .notice-number {
                  margin-left: 18px;
                  width: 39px;
                  color: #b2a18b;
                  font-family: $font;
                  font-size: 14px;
                }

                .notice-title {
                  width: 1060px;
                  color: #2c1e15;
                  font-family: $font;
                  font-size: 16px;
                  font-weight: 500;
                }

                .notice-date {
                  color: #b2a18b;
                  font-family: $font;
                  font-size: 14px;
                }
              }
            }
          }
        }

        .faq-content {
          margin-top: 25px;
          display: flex;
          flex-direction: column;

          .categories {
            display: flex;
            justify-content: center;

            div {
              width: 14%;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #b2a18b;
              font-family: $font;
              font-size: 15px;
              font-weight: 400;
              letter-spacing: -0.225px;
              cursor: pointer;
              transition: all 0.3s ease;

              &:hover {
                color: #8c7153;
              }

              &.active {
                border-bottom: 2px solid #b45f4d;
                color: #b45f4d;
              }
            }
          }

          .wrap {
            margin-top: 50px;

            .MuiAccordionDetails-root {
              padding: 30px 20px;
              background: #fcfaf7;
            }

            .badge {
              margin: 0 24px;
              display: inline-block;
              padding: 4px 10px;
              border: 1px solid #c8aa74;
              border-radius: 7px;
              color: #c8aa74;
              font-weight: 500;
            }

            .question {
              .badge {
                background: #b45f4d;
                color: #fff;
              }
            }

            .answer {
              margin-left: 80px;
              display: flex;
              align-items: center;
              flex-direction: row;
              white-space: nowrap;

              .badge {
                color: #b45f4d;
                border: 1px solid #b45f4d;
              }
            }
          }
        }
      }
    }
  }
}
